body {
   color:  #F2F6FF;
}
.background{
    background-image: url(../gambar/covid.png), url(../gambar/covid.png);
    background-repeat: no-repeat;
    background-position: 77% 50%, 21% 95%;
    background-size: 100px, 150px;
    height: 365px;
}
.title{
    padding-top: 50px;
    padding-bottom: 10px;
}
.input-keyword{
    opacity: 0.8;
    border: none;
}
.btn{
    background-color: #C2410C;
    color: #F2F6FF;
    border-style: none;
}
.content{
    width: 600px;
    height: 325px;
    margin-top: 40px;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
h1 {
    text-align: center;
}
.active-cases{
   margin-top: 45px;
   margin-right: 20px;
   margin-left: 18px;
   background: #C2410C;
   height: 120px;
   width: 165px;
   border-style: outset;
}
.active-cases h3{
    padding-top: 15px;
    text-align: center;
    font-size: 15px;
}
.active-cases h4{
    text-align: center;
    padding-top: 10px;
}
.new-cases{
    margin-top: 45px;
    margin-right: 20px;
    background: #C2410C;
    height: 120px;
    width: 165px;
    border-style: outset;
}
.new-cases h3{
    font-size: 15px;
    padding-top: 15px;
    text-align: center;
}
.new-cases h4{
    text-align: center;
    padding-top: 10px;
}
.recovered-cases{
    margin-top: 45px;
    margin-right: 20px;
    background: #C2410C;
    height: 120px;
    width: 165px;
    border-style: outset;
}
.recovered-cases h3{
    font-size: 15px;
    padding-top: 15px;
    text-align: center;
}
.recovered-cases h4{
    text-align: center;
    padding-top: 10px;
}
.total-cases{
    margin-top: 43px;
    margin-right: 20px;
    margin-left: 18px;
    background: #C2410C;
    height: 120px;
    width: 165px;
    border-style: outset;
}
.total-cases h3{
    font-size: 15px;
    padding-top: 15px;
    text-align: center;
}
.total-cases h4{
    text-align: center;
    padding-top: 10px;
}
.total-deaths{
    margin-top: 43px;
    margin-right: 20px;
    background: #C2410C;
    height: 120px;
    width: 165px;
    border-style: outset;
}
.total-deaths h3{
    font-size: 15px;
    padding-top: 15px;
    text-align: center;
}
.total-deaths h4{
    text-align: center;
    padding-top: 10px;
}
.total-tests{
    margin-top: 43px;
    margin-right: 20px;
    background: #C2410C;
    height: 120px;
    width: 165px;
    border-style: outset;
}
.total-tests h3{
    font-size: 15px;
    padding-top: 15px;
    text-align: center;
}
.total-tests h4{
    text-align: center;
    padding-top: 10px;
}